@import "root-variables.css";

@font-face {
    font-family: "MonumentExtended-Regular";
    src: url("../fonts/Monument-Extended/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "MonumentExtended-Ultrabold";
    src: url("../fonts/Monument-Extended/MonumentExtended-Ultrabold.otf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Black";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Black.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Bold";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Bold.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Medium";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Medium.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Regular";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Regular.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Light";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Light.ttf");
}

body {
    background-image: var(--background-color);
    background-attachment: fixed;
    margin:0;
}

.opacity-zero {
    opacity: 0;
}

.start-animation {
    animation: start-animation-for-all-other-pages 1s ease forwards;
    animation-delay: .1s;
}

.start-animation-for-input-text-div {
    animation: start-animation-for-all-other-pages-input-text-div 1s ease;
}

@keyframes start-animation-for-all-other-pages {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes start-animation-for-all-other-pages-input-text-div {
    from {
        opacity: 0;
    }
    to {
        opacity: .6;
    } 
}



/*aboutus start*/
#about-us-main {
    text-align: center;
}
  
.aboutus-column {
    text-align: left;
    display: inline-block;
    width: 40%;
    margin-bottom: 16px;
    padding: 0 8px;
    transition: .3s ease;
  }
  
  .card {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin: 8px;
    background-image: var(--card-background-color-gradient);
  }
  
  #ourteam{
    font-family:"MonumentExtended-Ultrabold";
    text-align: center;
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
  }
  
  .aboutus-section {
    text-align: center;
    color: black;
    font-family:"MonumentExtended-Ultrabold";
  }

  #aboutus-section-h1 {
    font-size: 1.4em;
    margin-top: 25px;
    color: white;
  }
  #introduction {
    color: rgb(173, 173, 173);
    padding: 0px 12px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .job {
    color: rgb(180, 180, 180);
    font-family:"MonumentExtended-Regular";
    text-align: center;
  }
  
  .contact-button {
    outline: 0;
    display: block;
    margin: 10px auto;
    padding: 8px;
    text-align: center;
    background-color: var(--about-us-card-color);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 50%;
    font-family:"MonumentExtended-Regular";
    transition: .3s ease;
  }
  
  .contact-button:hover {
    background-color: var(--green-color);
    color: black;
    border: 2px solid var(--green-color);
  }

  .adatok-p {
    font-family: 'BasisGrotesqueArabicPro-Regular';
    color: white;
  }

  .nev {
    font-family: "MonumentExtended-Regular";
    text-align: center;
    margin-bottom: 0;
    color: white;
  }

  .kepek-rolunk {
    padding-top: 10px;
    width: 30%;
    display: block;
    margin: 0 auto;
    clip-path: circle(45%);
  }
  /* .kepek-rolunk:hover {
    clip-path: circle(100%);
    filter: brightness(100%) grayscale(0);
  } */
  /*aboutus end*/

/* Tablet */
@media screen and (max-width: 768px) {
  .aboutus-column {
    width: 100%; /* Adjust width for full width on tablets */
  }
  .kepek-rolunk {
    width: 50%; /* Adjust width for images on tablets */
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .aboutus-column {
    width: 100%; /* Adjust width for full width on mobile */
    display: block; /* Stack columns on top of each other */
    margin-bottom: 20px; /* Optional: Add some space between stacked columns */
  }
  .kepek-rolunk {
    width: 70%; /* Adjust width for images on mobile */
  }
}