/*navbar start*/
nav {
    position: fixed; 
    background-color: black;
    overflow: hidden;
    top: 0%; 
    width: 100%; 
    z-index: 100; 
}

nav #nav-span {
    float: right;
}

nav .nav-links {
    display: block; 
    float: left; 
    color: white;
    text-decoration: none;
    font-size: var(--nav-links-size);
    text-align: center;
    transition: .3s ease;
    padding: 15px 20px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

nav .nav-links:hover {
    background-color: var(--green-color);
    color: black;
    font-weight: bold;
}

nav .disabled-link {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
}
nav .disabled-link:hover {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
    font-weight: normal;
    cursor: pointer;
}
/*navbar end*/



/*cim, alcim start*/
.cim {
    font-family: "MonumentExtended-Ultrabold";
    text-align: center;
    color: white;
    font-size: var( --h1-font-size-except-mainpage);
    margin-top: 60px;
}

.alcim {
    font-family: "BasisGrotesqueArabicPro-Light";
    text-align: center;
    color: white;
    font-size: var( --h2-font-size-except-mainpage);
    margin-top: -20px;
    margin-bottom: 20px;
}
/*cim, alcim end*/
  