*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*navbar start*/
nav{
  position: fixed; 
  background-color: black;
  overflow: hidden;
  top: 0%; 
  width: 100%; 
  z-index: 100; 
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul .nav-links {
    display: inline-block; 
    color: white;
    text-decoration: none;
    font-size: var(--nav-links-size);
    text-align: center;
    transition: .3s ease;
    padding: 15px 20px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

nav ul .nav-links:hover {
    background-color: var(--green-color);
    color: black;
    font-weight: bold;
}

nav ul .disabled-link {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
}
nav ul .disabled-link:hover {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
    font-weight: normal;
    cursor: pointer;
} 

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-left, .nav-links-right {
  display: flex;
  list-style: none;
  padding: 0;
}


/*navbar end*/

/* Responsive start */
@media (max-width: 952px){

  .nav-links-left li a, .nav-links-right li a {
    font-size: 16px;
  }

}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }

  .navbar-container {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: left 0.5s ease;
    z-index: 1; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.nav-links-left, .nav-links-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
    .nav-links-left li, .nav-links-right li {
      display: block;
      margin: 20px 0;
      line-height: 20px;
      width: 100%;
      text-align: center; 
    }
    .nav-links-left li a, .nav-links-right li a {
      font-size: 20px;
      display: block; 
      padding: 10px 0; 
    }
  
  a:hover,a.active{
    background: none;
    color: var(--green-color);
  }
  #check:checked ~ .navbar-container{
    left: 0;
  }
}
/* Responsive end */
