@import "root-variables.css";

@font-face {
    font-family: "MonumentExtended-Regular";
    src: url("../fonts/Monument-Extended/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "MonumentExtended-Ultrabold";
    src: url("../fonts/Monument-Extended/MonumentExtended-Ultrabold.otf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Black";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Black.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Bold";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Bold.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Medium";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Medium.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Regular";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Regular.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Light";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Light.ttf");
}

body {
    background-image: var(--background-color);
    background-attachment: fixed;
    margin:0;
}

.opacity-zero {
    opacity: 0;
}

.start-animation {
    animation: start-animation-for-all-other-pages 1s ease forwards;
    animation-delay: .1s;
}

.start-animation-for-input-text-div {
    animation: start-animation-for-all-other-pages-input-text-div 1s ease;
}

@keyframes start-animation-for-all-other-pages {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes start-animation-for-all-other-pages-input-text-div {
    from {
        opacity: 0;
    }
    to {
        opacity: .6;
    } 
}

/*navbar start*/
nav {
    position: fixed; 
    background-color: black;
    overflow: hidden;
    top: 0%; 
    width: 100%; 
    z-index: 100; 
}

nav #nav-span {
    float: right;
}

nav .nav-links {
    display: block; 
    float: left; 
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: var(--nav-links-size);
    text-align: center;
    transition: .3s ease;
    padding: 15px 20px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

nav .nav-links:hover {
    background-color: var(--nav-link-color);
    color: black;
    font-weight: bold;
}

nav .disabled-link {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
}
nav .disabled-link:hover {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
    font-weight: normal;
    cursor: pointer;
}
/*navbar end*/



/*cim, alcim start*/
.cim {
    font-family: "MonumentExtended-Ultrabold";
    text-align: center;
    color: white;
    font-size: var( --h1-font-size-except-mainpage);
    margin-top: 60px;
}

.alcim {
    font-family: "BasisGrotesqueArabicPro-Light";
    text-align: center;
    color: white;
    font-size: var( --h2-font-size-except-mainpage);
    margin-top: -20px;
    margin-bottom: 20px;
}
/*cim, alcim end*/

























/*signin start*/
#signin-form-table {
    margin: 0 auto;
    font-size: 1.2em;
    width: 600px;
    padding: 17px 0px;
    border-radius: 15px;
    background-color: var(--signin-login-button-color);
    box-shadow: 0px 0px 15px black;

}

#signin-form-table-caption {
    font-family: "MonumentExtended-Regular";
    margin-bottom: 20px;
    color: white;
    font-weight: bold;

}

.signin-form-table-tr {
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

.signin-form-table-td {
    padding: 17px 0px;
    width: 300px;
    color: white;    
}

.signin-form-table-td:first-child {
    padding-left: 25px;
}

.signin-form-table-td:nth-child(2) {
    text-align: right;
    padding-right: 10px;
    text-align: center;
    
}



#vezeteknev,
#keresztnev,
#szuletesi-datum,
#felhnev,
#mufaj-select,
#email,
#jelszo,
#jelszo-ismet {
    padding: 5px;
    border-radius: 5px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: .75em;
    background-color: var(--signin-login-button-background-color);
    color: var(--signin-login-input-text-color);
    border: none;
}
#mufaj-select {
    width: 220px;
}

#bemutatkozo-szoveg {
    resize: none;
    height: 70px;
    width: 92%;
    background-color: var(--input-bemutatkozo-color);
    color: white;
    border: none;
    font-family: "BasisGrotesqueArabicPro-Regular";
    font-size: .75em;
    padding: 7px;
}

/*

#input-text {
    width: 98%;
    resize: none;
    height: 120px;
    background-color: var(--input-textarea-color);
    color: white;
    border: none;
    font-family: "BasisGrotesqueArabicPro-Regular";
    font-size: 1em;
    padding: 7px;
}

*/



input[type="file"]::-webkit-file-upload-button{
   
    margin-right: 5px;
    margin-bottom:10px;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    font-size:1.1em;
    transition: .3s ease;
}

input[type=file]::-webkit-file-upload-button:hover{
    cursor: pointer!important;
    background-color: white;
  
    color: black;
}

#profilkep {
    color: var(--signin-login-input-text-color);
}

#info-icon {
    height: 20px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: .75em;
}

#regisztracio-button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--signin-login-button-color);
    color: white;
    padding: 7px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    transition: .3s ease;
}

#regisztracio-button:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--signin-login-button-background-color);
    cursor: pointer;
}

#reset-button {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--signin-login-button-color);
    color: white;
    padding: 7px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    transition: .3s ease;
}
#reset-button:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--signin-login-button-background-color);
    cursor: pointer;
}
/*signin end*/
























/*login start*/
#login-form-table {
    margin: 0 auto;
    font-size: 1.2em;
    width: 600px;
    padding: 17px 0px;
    border-radius: 15px;
    background-color: var(--signin-login-button-color);
    box-shadow: 0px 0px 15px black;

}

#login-form-table-caption {
    font-family: "MonumentExtended-Regular";
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.login-form-table-tr {
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

.login-form-table-td {
    padding: 17px 0px;
    width: 300px;
    color: white;
}

.login-form-table-td:first-child {
    padding-left: 25px;
}

.login-form-table-td:nth-child(2) {
    text-align: right;
    padding-right: 10px;
    text-align: center;
}


#felhnev-login,
#jelszo-login
 {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: .75em;
    background-color: var(--signin-login-button-background-color);
    color: var(--signin-login-input-text-color);
}


#bejelentkezes-button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background-color: var(--signin-login-button-color);
    padding: 7px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    transition: .3s ease;
    color: white;
}

#bejelentkezes-button:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--signin-login-button-background-color);
    cursor: pointer;
}

#goto-reg-link-div {
    text-align: center;
    margin-top: 25px;
}

#goto-reg-link{
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: 1.2em;
    transition: .3s ease;
    color: black;
    text-decoration: none;
    padding: 9px;
    background-color: white;
    border-radius: 5px;
    border: none;
    
}

#goto-reg-link:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--goto-reg-link-color-hover);
}



#regisztracio-kerdes-p {
        text-align: center;
        margin-top: 70px;
        font-family: "MonumentExtended-Regular";
        color: white;
}
/*login end*/
























/*aboutus start*/
#about-us-main {
    text-align: center;
}
  
.aboutus-column {
    text-align: left;
    display: inline-block;
    width: 40%;
    margin-bottom: 16px;
    padding: 0 8px;
    transition: .3s ease;
    
  }
  
  .card {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin: 8px;
    background-color: var(--about-us-card-color);
  }
  
  #ourteam{
    font-family:"MonumentExtended-Ultrabold";
    text-align: center;
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
  }
  
  .aboutus-section {
    text-align: center;
    color: black;
    font-family:"MonumentExtended-Ultrabold";
  }

  #aboutus-section-h1 {
    font-size: 1.4em;
    margin-top: 25px;
    color: white;
  }
  #introduction {
    color: rgb(173, 173, 173);
    padding: 0px 12px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .job {
    color: rgb(180, 180, 180);
    font-family:"MonumentExtended-Regular";
    text-align: center;
  }
  
  .contact-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family:"MonumentExtended-Regular";
    transition: .3s ease;
  }
  
  .contact-button:hover {
    background-color: #212121;
  }

  .adatok-p {
    font-family: 'BasisGrotesqueArabicPro-Regular';
    color: white;
  }

  .nev {
    font-family: "MonumentExtended-Regular";
    text-align: center;
    margin-bottom: 0;
    color: white;
  }

  .kepek-rolunk {
    padding-top: 10px;
    width: 30%;
    display: block;
    margin: 0 auto;
    clip-path: circle(30%);
    filter: brightness(50%);
    transition: .8s ease;
  }
  .kepek-rolunk:hover {
    clip-path: circle(100%);
    filter: brightness(100%) grayscale(0);
  }
  /*aboutus end*/


























/*music start*/
#genres-div {
    display: block;
    text-align: center;
}
#genres-title {
    margin-top: 50px;
    font-size: 1.4em;
    font-family: "MonumentExtended-Regular";
    margin-bottom: 10px;
    color: white;
}
#genres-select {
    width: 200px;
    padding: 10px 10px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: 1em;
    border: none;
    background-color: var(--genres-select-color);
    color: var(--genres-select-option-text-color);
}

#genres-list-button {
    padding: 12px 10px;
    background-color: black;
    font-size: 1.1em;
    color: var(--nav-link-color);
    border: none;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    margin-left: 5px;
    transition: .3s ease;
    border-radius: 5px;
}

#genres-list-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px black;
}

#music-section {
    display: flex;
    flex-wrap: wrap; /*megtöri a sort, ha nincs elegendő helye*/
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
    margin: 0 auto;
    margin: 0px 0px 0px 0px;
}

.music-div {
    height: var(--card-height);
    width: var(--card-width);
    background-image: var(--card-background-color-gradient);
    border-radius: 15px;
    opacity: 0;
}

.music-div-author-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 20px;
}

.music-div-author {
    font-size: var(--author-font-size);
    color: white;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-weight: normal;
    text-align: center;
    margin-top: 13px;
}

.music-div-music-title {
    font-size: var(--title-font-size);
    color: white;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-weight: normal;
    text-align: center;
    margin-top: -10px;
}

.music-div-music-length {
    font-size: var(--length-font-size);
    color: white;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-weight: normal;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 12px;
}

.music-div-music-button {
    height: 45px;
    display: block;
    margin: 0 auto;
    transition: .3s ease;
}

.music-div-music-button:hover {
    cursor: pointer;
}


.start-musicdiv-animation {
    animation: start-musicdiv-animation .5s ease forwards;
}

@keyframes start-musicdiv-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#musical-note-icon {
    height: 110px;
    display: block;
    margin: 0 auto;
    transition: .3s ease;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0;
    opacity: 0;
    filter: brightness(60%);
}

.start-animation-for-for-musical-note {
    animation: start-animation-for-musical-note 1s ease forwards;
    animation-delay: .1s;
}

@keyframes start-animation-for-musical-note {
    from {
        opacity: 0;
        filter: brightness(60%);
    } to {
        opacity: .1;
        filter: brightness(60%);
    }
}



/*music end*/
























/*forum start*/
.forum-container{
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--forum-container-color);
    width: 800px;
    padding: 15px;
    border-radius: 15px;
    color:white;
    transition: .3s ease;

}
.post-author{
    margin:0;
    padding:0;
    font-family:"BasisGrotesqueArabicPro-Bold";
    color:rgb(173, 173, 173);

}
.post-content{
    margin:0;
    padding:0;
    font-family:"BasisGrotesqueArabicPro-Regular";
    color:white;
    line-height: 1.1em;

}

#input-text-div{
    position:fixed;
    bottom: calc(0% + 15px);
    left: 50%;
    transform: translateX(-50%);
    width: 900px; 
    background-color: var(--input-text-div-color);
    border-radius:15px;
    padding:15px;
    font-family: "BasisGrotesqueArabicPro-Regular";
    opacity: .6;
    transition: .3s ease;
}
#input-text-div:hover {
    opacity: 1;
}

#input-text {
    width: 98%;
    resize: none;
    height: 120px;
    background-color: var(--input-textarea-color);
    color: white;
    border: none;
    font-family: "BasisGrotesqueArabicPro-Regular";
    font-size: 1em;
    padding: 7px;
}
#post-button{
    margin:0;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size:.9em;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    transition: .3s ease;
}


#post-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}



input[type="file"]::-webkit-file-upload-button{
   
    margin-right: 5px;
    margin-bottom:10px;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    font-size:1.1em;
    transition: .3s ease;
}

input[type=file]::-webkit-file-upload-button:hover{
    cursor: pointer!important;
    background-color: white;
  
    color: black;
}

#file-input{
   color: var(--signin-login-input-text-color);
}
/*forum end*/




/*empty_username, empty_password*/
.empty-input-problem{
    text-align: center;
    font-family: "BasisGrotesqueArabicPro-Regular";
    color: white;
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
}

.message-div {
    padding: 30px;
    background-color: rgb(39, 39, 39);
    width: 500px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.back-to-login-link {
    padding: 7px;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 5px;
    font-family: "BasisGrotesqueArabicPro-Regular";
    text-decoration: none;
    margin-top: 50px;
    font-size: 1.1em;
    transition: .3s ease;
}

.back-to-login-link:hover {
    background-color: rgb(79, 79, 79);
}

.back-to-forum-link {
    padding: 7px;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 5px;
    font-family: "BasisGrotesqueArabicPro-Regular";
    text-decoration: none;
    margin-top: 50px;
    font-size: 1.1em;
    transition: .3s ease;
}

.back-to-forum-link:hover {
    background-color: rgb(79, 79, 79);
}

/**/


#signin-form-table {
    margin: 0 auto;
    font-size: 1.2em;
    width: 600px;
    padding: 17px 0px;
    border-radius: 15px;
    background-color: var(--signin-login-button-color);
    box-shadow: 0px 0px 15px black;

}

#signin-form-table-caption {
    font-family: "MonumentExtended-Regular";
    margin-bottom: 20px;
    color: white;
    font-weight: bold;

}



















/*responsive start*/

/* desktop, large screen */
@media screen and (max-width: 1280px) {



}

/* small screen, laptops */
@media screen and (max-width: 1024px) {

/*aboutus start*/

.job {
    color: rgb(180, 180, 180);
    font-family:"MonumentExtended-Regular";
    text-align: center;
    font-size: .9em;
  }

  .nev {
    font-family: "MonumentExtended-Regular";
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-size: 1.2em;
  }

/*aboutus end*/

/*forum start*/
.forum-container{
    display:block;
    margin: 0 auto;
    width: 650px;
    margin-bottom: 20px;
    background-color: var(--forum-container-color);
    padding: 15px;
    border-radius: 15px;
    color:white;
    transition: .3s ease;

}
.post-author{
    margin:0;
    padding:0;
    font-family:"BasisGrotesqueArabicPro-Bold";
    color:rgb(173, 173, 173);

}
.post-content{
    margin:0;
    padding:0;
    font-family:"BasisGrotesqueArabicPro-Regular";
    color:white;
    line-height: 1.1em;

}


#input-text-div{
    position:fixed;
    bottom: calc(0% + 15px);
    left: 50%;
    transform: translateX(-50%);
    width: 700px; 
    background-color: var(--input-text-div-color);
    border-radius:15px;
    padding:15px;
    font-family: "BasisGrotesqueArabicPro-Regular";
    opacity: .6;
    transition: .3s ease;
}
#input-text-div:hover {
    opacity: 1;
}

#input-text {
    width: 98%;
    resize: none;
    height: 120px;
    color: white;
    border: none;
}
#post-button{
    margin:0;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size:.9em;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    transition: .3s ease;
}


#post-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
/*forum end*/

}

/* tablets */
@media screen and (max-width: 768px) {

/*music start*/
#genres-div {
    display: block;
    text-align: center;
}
#genres-title {
    margin-top: 50px;
    font-size: 1.4em;
    font-family: "MonumentExtended-Regular";
    margin-bottom: 10px;
    color: white;
}
#genres-select {
    width: 200px;
    padding: 10px 10px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: 1em;
    border: none;
    background-color: var(--genres-select-color);
    color: var(--genres-select-option-text-color);
}

#genres-list-button {
    padding: 12px 10px;
    background-color: black;
    font-size: 1.1em;
    color: var(--nav-link-color);
    border: none;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    margin-left: 5px;
    transition: .3s ease;
    border-radius: 5px;
}

#genres-list-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px black;
}

#music-section {
    display: flex;
    flex-wrap: wrap; /*megtöri a sort, ha nincs elegendő helye*/
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
    margin: 0 auto;
    margin: 100px 0px 50px 0px;

}
.music-div {
    height: 250px;
    width: 200px;
    background-image: var(--card-background-color-gradient);
    border-radius: 15px;
}

.music-div-author-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 13px;
    height: 90px;
}

.music-div-author {
    font-size: 1.1em;
    color: white;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-weight: normal;
    text-align: center;
    margin-top: 13px;
}

.music-div-music-title {
    font-size: 1em;
    color: white;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-weight: normal;
    text-align: center;
    margin-top: -10px;
}

.music-div-music-length {
    font-size: .95em;
    color: white;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-weight: normal;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 12px;
}

.music-div-music-button {
    height: 40px;
    display: block;
    margin: 0 auto;
    transition: .3s ease;
}

.music-div-music-button:hover {
    cursor: pointer;
}

nav .nav-links {
    display: block; 
    float: left; 
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    transition: .3s ease;
    padding: 12px 17px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

nav .disabled-link {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
}
nav .disabled-link:hover {
    background-color: black;
    color: var(--nav-disabled-link-hover-color);
    font-weight: normal;
    cursor: pointer;
}
/*music end*/

/*aboutus start*/
.job {
    color: rgb(180, 180, 180);
    font-family:"MonumentExtended-Regular";
    text-align: center;
    font-size: .9em;
    margin-bottom: 15px;
  }

  .nev {
    font-family: "MonumentExtended-Regular";
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-size: 1.2em;
  }

  .aboutus-column {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
    padding: 0 8px;
    transition: .3s ease;
    
  }

  #introduction {
    color: rgb(173, 173, 173);
    padding: 0px 15px;
  }

/*aboutus end*/

/*forum start*/
.forum-container{
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--forum-container-color);
    width: 550px;
    padding: 15px;
    border-radius: 15px;
    color:white;
    transition: .3s ease;

}
.post-author{
    margin:0;
    padding:0;
    font-family:"BasisGrotesqueArabicPro-Bold";
    color:rgb(173, 173, 173);

}
.post-content{
    margin:0;
    padding:0;
    font-family:"BasisGrotesqueArabicPro-Regular";
    color:white;
    line-height: 1.1em;

}

.liked-genres {
    font-family:"BasisGrotesqueArabicPro-Regular";
    color:rgb(173, 173, 173);
}


#input-text-div{
    position:fixed;
    bottom: calc(0% + 15px);
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin-bottom: 20px;
    background-color: var(--input-text-div-color);
    border-radius:15px;
    padding:15px;
    font-family: "BasisGrotesqueArabicPro-Regular";
    opacity: .6;
    transition: .3s ease;
}
#input-text-div:hover {
    opacity: 1;
}

#input-text {
    width: 98%;
    resize: none;
    height: 120px;
    color: white;
    border: none;
}
#post-button{
    margin:0;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size:.9em;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    transition: .3s ease;
}


#post-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}



input[type="file"]::-webkit-file-upload-button{
   
    margin-right: 5px;
    margin-bottom:10px;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    font-size:1.1em;
    transition: .3s ease;
}

input[type=file]::-webkit-file-upload-button:hover{
    cursor: pointer!important;
    background-color: white;
  
    color: black;
}

#file-input{
   color: var(--signin-login-input-text-color);
}
/*forum end*/
}
/*responsive end*/


.profil_adat_profilkep {
    height: 175px;
    display: block;
    margin: 0 auto;
    padding-bottom:10px;
    clip-path: circle(30%);
    filter: brightness(50%);
    transition: .8s ease;
  }
  .profil_adat_profilkep:hover {
    clip-path: circle(100%);
    filter: brightness(100%) grayscale(0);
  }


  #profil-adatok-table {
    margin: 0 auto;
    font-size: 1.2em;
    width: 600px;
    padding: 17px 0px;
    border-radius: 15px;
    background-color: var(--signin-login-button-color);
    box-shadow: 0px 0px 15px black;
    margin-bottom: 30px;
}

#profil-adatok-caption {
    font-family: "MonumentExtended-Regular";
    margin-bottom: 20px;
    color: white;
    font-weight: bold;

}