:root {
    /*nav values*/
    --nav-links-size: 1.25em;
    --nav-disabled-link-hover-color: rgb(158, 158, 158);
    --background-color: linear-gradient(135deg, rgba(40,40,40,1) 0%, rgba(13,13,13,1) 100%); /*###############*/

    /*h1, h2*/
    --h1-font-size-except-mainpage: 2.3em;
    --h2-font-size-except-mainpage: 1.2em;
    --h1-font-size-mainpage: 7em;
    --h2-font-size-mainpage: 3.5em;

    /* regisztracio es a bejelentkezes button ilyen lesz :hover-nél */
    --input-background-color: rgb(68, 68, 68);
    --signin-login-input-text-color: rgb(210, 210, 210);

    /*music offer variables*/
    --card-width: 250px;
    --card-height: 320px;
    --card-background-color-gradient: linear-gradient(135deg, rgba(54,54,54,1) 0%, rgba(34,34,34,1) 100%);
    --author-font-size: 1.3em;
    --title-font-size: 1.1em;
    --length-font-size: 1.05em;

    /*music*/
    --genres-select-color: rgb(68, 68, 68);
    --genres-select-option-text-color: rgb(210, 210, 210);

    /*forum variables*/
    --input-text-div-color: rgb(65, 65, 65);
    --input-textarea-color: rgb(45, 45, 45);
    --post-button-color: rgb(45, 45, 45);
    --forum-container-color: rgb(43, 43, 43);
    
    /* * */
    --green-color: rgb(30, 215, 96);
}