@import "root-variables.css";

@font-face {
    font-family: "MonumentExtended-Regular";
    src: url("../fonts/Monument-Extended/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "MonumentExtended-Ultrabold";
    src: url("../fonts/Monument-Extended/MonumentExtended-Ultrabold.otf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Black";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Black.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Bold";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Bold.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Medium";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Medium.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Regular";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Regular.ttf");
}

@font-face {
    font-family: "BasisGrotesqueArabicPro-Light";
    src: url("../fonts/Basis-Grotesque/BasisGrotesqueArabicPro-Light.ttf");
}

body {
    background-image: var(--background-color);
    background-attachment: fixed;
    margin:0;
}

.opacity-zero {
    opacity: 0;
}

.start-animation {
    animation: start-animation-for-all-other-pages 1s ease forwards;
    animation-delay: .1s;
}

.start-animation-for-input-text-div {
    animation: start-animation-for-all-other-pages-input-text-div 1s ease;
}

@keyframes start-animation-for-all-other-pages {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes start-animation-for-all-other-pages-input-text-div {
    from {
        opacity: 0;
    }
    to {
        opacity: .6;
    } 
}

/*cim, alcim start*/
.cim {
    font-family: "MonumentExtended-Ultrabold";
    text-align: center;
    color: white;
    font-size: var( --h1-font-size-except-mainpage);
    margin-top: 80px;
}

.alcim {
    font-family: "BasisGrotesqueArabicPro-Light";
    text-align: center;
    color: white;
    font-size: var( --h2-font-size-except-mainpage);
    margin-top: 20px;
    margin-bottom: 20px;
}
/*cim, alcim end*/

/*signin start*/
#signin-form-table {
    margin: 0 auto;
    font-size: 1.2em;
    width: 600px;
    padding: 17px 0px;
    border-radius: 15px;
    background-image: var(--card-background-color-gradient);
    box-shadow: 0px 0px 15px black;

}

#signin-form-table-caption {
    font-family: "MonumentExtended-Regular";
    margin-bottom: 20px;
    color: white;
    font-weight: bold;

}

.signin-form-table-tr {
    font-family: 'BasisGrotesqueArabicPro-Regular';
}

.signin-form-table-td {
    padding: 17px 0px;
    width: 300px;
    color: white;    
}

.signin-form-table-td:first-child {
    padding-left: 25px;
}

.signin-form-table-td:nth-child(2) {
    text-align: right;
    padding-right: 10px;
    text-align: center;
    
}

#kotelezo-kitolteni{
    color: var(--green-color);
    font-size: .50em;
    margin-left: 20px;
}

#csillag{
    color: var(--green-color);
}

#vezeteknev,
#keresztnev,
#szuletesi-datum,
#felhnev,
#mufaj-select,
#email,
#jelszo,
#jelszo-ismet {
    padding: 5px;
    border-radius: 5px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: .75em;
    background-color: var(--input-background-color);
    color: var(--signin-login-input-text-color);
    border: none;
}
#mufaj-select {
    width: 220px;
}

#bemutatkozo-szoveg {
    resize: none;
    height: 70px;
    width: 92%;
    background-color: var(--input-background-color);
    color: white;
    border: none;
    font-family: "BasisGrotesqueArabicPro-Regular";
    font-size: .75em;
    padding: 7px;
}


input[type="file"]::-webkit-file-upload-button{
   
    margin-right: 5px;
    margin-bottom:10px;
    background-color: var(--post-button-color);
    color: var(--signin-login-input-text-color);
    border-radius: 5px;
    border:0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"BasisGrotesqueArabicPro-Regular";
    font-size:1.1em;
    transition: .3s ease;
}

input[type=file]::-webkit-file-upload-button:hover{
    cursor: pointer!important;
    background-color: white;
  
    color: black;
}

#profilkep {
    color: var(--signin-login-input-text-color);
}

#info-icon {
    height: 20px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    font-family: 'BasisGrotesqueArabicPro-Regular';
    font-size: .75em;
}

#regisztracio-button {
    display: block;
    margin: 10px auto;
    margin-top: 25px;
    background-color: var(--green-color);
    padding: 10px;
    font-family: 'MonumentExtended-Regular';
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    transition: .3s ease;
    color: black;
}

#regisztracio-button:hover {
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}

#goto-log-link{
    font-family: 'MonumentExtended-Regular';
    font-size: 1.2em;
    color: var(--green-color);
    text-decoration: none;

}

#goto-log-link:hover{
    text-decoration: underline;
}

#belepes-kerdes-p {
        text-align: center;
        margin-top: 20px;
        font-family: 'MonumentExtended-Regular';
        color: white;
        font-size: 0.6em;
}


#reset-button {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-family:"MonumentExtended-Regular";
    font-size: 1.2em;
    transition: .3s ease;

}
#reset-button:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--green-color);
    border: 2px solid var(--green-color);
    color:black;
    cursor: pointer;
}

.required {
    color: var(--green-color); 
}



/*signin end*/

/* Responsive start */

@media (max-width: 952px) {
    #signin-form-table {
        width: 90%;
        font-size: 0.9em;
    }

    .signin-form-table-td {
        padding: 10px;
    }

    #mufaj-select, #bemutatkozo-szoveg, input[type="text"], input[type="password"], input[type="date"], input[type="file"], #reset-button, #regisztracio-button {
        width: 90%; 
    }

    #signin-form-table-caption, .signin-form-table-tr, .signin-form-table-td, #info-icon {
        font-size: 0.8em;
    }

    #regisztracio-button{
        width: auto; 
        padding: 12px 20px;
    }

    #reset-button {
        padding: 4px 8px; 
        font-size: 0.75em;
    }

    #belepes-kerdes-p, #goto-log-link {
        font-size: 0.9em; 
    }
}

@media (max-width: 858px) {
    #signin-form-table {
        width: 100%;
        font-size: 0.8em;
    }

    .signin-form-table-td {
        padding: 5px;
    }

    #mufaj-select, #bemutatkozo-szoveg, input[type="text"], input[type="password"], input[type="date"], input[type="file"], #reset-button, #regisztracio-button {
        width: 100%; 
    }

    #signin-form-table-caption, .signin-form-table-tr, .signin-form-table-td, #info-icon {
        font-size: 0.75em; 
    }

    #belepes-kerdes-p, #goto-log-link {
        font-size: 0.9em; 
    }
    
    #regisztracio-button {
        width: auto; 
        padding: 10px 15px; 
    }

    #reset-button {
        padding: 3px 6px; 
        font-size: 0.7em; 
    }

    #belepes-kerdes-p {
        font-size: 0.8em; 
    }
}

/* Responsive end */
